<div class="bg-black py-8">
    <footer class="footer-blue-bg rounded-lg shadow m-4">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="text-sm sm:text-center footer-text-black">© 2024 
                <a class="footer-text-black footer-link">Sunim.</a>. All Rights Reserved.
            </span>
            <ul class="flex flex-wrap items-center mt-3 text-sm font-medium sm:mt-0">
                <li>
                    <p class="footer-text-black footer-link">Contacto: dorysunim&#64;gmail.com</p>
                </li>
            </ul>
        </div>
    </footer>
</div>



